.thread-container{
    width: 100%;
    min-height: 120px;
    max-height: 140px;
    // -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    // box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transform: scale(1);
    transition: all 0.2s ease-in;
    overflow: auto;
    border-radius: 2px;
    &:hover {
        -webkit-box-shadow: 4px 4px 10px 2px rgba(0,0,0,0.3); 
        box-shadow: 4px 4px 10px 2px rgba(0,0,0,0.3);
        transform: scale(1.005);
        transition: all 0.2s ease-in, box-shadow  150ms ease;
    }
    .thread-right-section {
        height: inherit;
        // width: fit-content;
        // max-width: min-content;
        // max-width: 20%;
    }
    .thread-left-section {
        height: inherit;
        // max-width: 80%;
    }
    .profile-image {
        width: 30px;
        height: 30px;
    }
    .main-content {
        max-width: 78%;
    }
}